<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="StartTime" value="07:00 PM "/>
		<add key="callDuration" value="2"/>
		<add key="CallType" value="1"/>
		<add key="FromMail" value="---your mail---"/>
		<add key="Password" value="---your password---"/>
		<add key="Host" value="smtp.gmail.com"/>
	</appSettings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>